[submodule "SFMLEngine/vendor/spdlog"]
	path = SFMLEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SFMLEngine/vendor/tracy"]
	path = SFMLEngine/vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "SFMLEngine/vendor/json"]
	path = SFMLEngine/vendor/json
	url = https://github.com/nlohmann/json
